<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
<!-- View Product -->
{% block start %}
 {% if user.is_authenticated %}
  <div class="card" style="width: 18rem;">
    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text"><small class="text-body-secondary">Last updated {{product.updated_on}}</small></p>
      <a class="btn btn-primary" href="{% url 'delete' pk=product.pk  %}" role="button">Delete</a>
      <a class="btn btn-primary" href="{% url 'edit' pk=product.pk %}" role="button">Update</a>
    </div>
</div>
{% endif %}
{% endblock start %}
</body>
</html>